body { padding-bottom: 70px; }

.bolder {
  font-weight: bold;
  font-size: 20px;
}

.bordered {
  border: solid;
  color: blue;
}

.no-decoration {
  list-style-type: none;
}

footer.footer {
  margin: 25px 0 0 0;
}


